<header>
    <h1>ACADEMIA GSA</h1>
</header>
<section style="text-align: center;";>
    <div class="divc">
        <a href="/login"><button id="bt1">Ver Cadastro</button></a>
    </div>
    <div class="divc">
        <a href="/formscad"><button id="bt2">Novo Cadastro</button></a>
    </div>
</section>