<header>
    <h1>ACADEMIA GSA</h1>
</header>
<section style="align-content: center;";>
    <h3>Login</h3>
    <form action="/validatelogin" method="post">
        <div class="divc" style="text-align: justify;">
            <p>Usuário:<br>
            <input type="text" name="username" id="username"></p>        
        </div>
        <div class="divc" style="text-align: justify;">
            <p>Senha:<br>
            <input type="password" name="password" id="password" value=""></p> 
        </div>
        <button type="submit">Entrar</button>
    </form>
</section>