<header>
    <h1>{{title}}</h1>
    <h2>ACADEMIA GSA</h2>
</header>
<section>
    <div class="divc" style="text-align: center;">
        <h3>{{msg}}</h3>
        <a href="/"><button>Página Inicial</button></a>
        <a href="/formscad"><button>Novo Cadastro</button></a>
    </div>
</section>