<header>
    <h1>{{title}}</h1>
    <h2>ACADEMIA GSA</h2>
</header>
<section>
    <div class="divc" style="text-align: center;">
        <h3>{{msg}}</h3>
        <button onclick="back()">Voltar</button>
    </div>
</section>